:root {
    --font-size-base: clamp(12px, 2.5vw, 18px);
    --font-family-base: 'Georgia', 'Times New Roman', serif;
    --line-height-base: 1.8;
}

html {
    font-size: var(--font-size-base);
}

/*
!important to not be overridden by bootstrap
 */
body {
    font-family: var(--font-family-base) !important;
    line-height: var(--line-height-base) !important;
}
